/* Add here all your CSS customizations */

.azul{
    background: #26BDEA;

}
.rojo{
    background: #F36762;

} 

.header-logo strong {
	font-family: 'Dancing Script', cursive;
	font-size:55px;
	color:#fff;
}

.home-intro p{
	display: block;
}

.home-intro p.title{
	font-family: 'Comfortaa', cursive;
	letter-spacing: 5px;
	font-size: 1.8em;
	display:block;
}

.home-intro span.title{
	letter-spacing: 4px;
}




@media (min-width: 992px){
#header .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown li a {
   border-bottom-color:#ddd;
}

.modal-backdrop.fade.in {
    z-index: -1;
}


#header .header-nav-main li > div.popover{
    width: 250px;
    text-align:justify;
}

#header .header-nav-main .popover {
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #555;
}

.pager li > a, .pager li > span {
	background-color:#2aafea;
	color:#fff;
	/*border:none;*/
}


#precio .heading h2 {
	letter-spacing: 0.7px;
}

#footer .footer-copyright .modal-body {
	padding-left:30px;
	padding-right:30px;
}


#footer .footer-copyright .modal-body ul,
#footer .footer-copyright .modal-body ol {
	padding-left: 40px;
	font-size: 14px;
}

#footer .footer-copyright .modal-body ul li,
#footer .footer-copyright .modal-body ol li {
	list-style-type:disc;
	border: none;
	display: list-item;
	line-height: 24px;
	text-align: -webkit-match-parent;
}

#footer .footer-copyright .modal-body ol li {
	list-style-type:decimal;
}


#footer .footer-copyright .modal-body p{
	font-size: 14px;
	margin-bottom:11px;
}

#footer .footer-copyright .modal-body h5{
	margin-bottom: 10px;
}

#footer .footer-copyright .modal-body ul li:first-child {
	padding-left: 8px;
}


 @media (max-width:992px){
	#footer .footer-copyright .row div:nth-child(2){
		text-align:center;
	}
	.azul{
    background: #26BDEA;

}
.rojo{
    background: #F36762;

} 
}

@media (max-width:404px){
	#footer .footer-copyright nav ul li{
		border-left:none;
		padding:0px;
	}

}

#footer #terminos p,
#footer #politica p {
	font-size: 13px;
} 

#livechat-compact-container {
	right:80px;
}

#livechat-full {
	right: 60px;
}

