@import url("https://fonts.googleapis.com/css?family=Kalam|Roboto%20Mono");
*,
*:before,
*:after {
    box-sizing: border-box
}



@media (min-width: 768px) {
    .section.home-languages {
        padding-bottom: 80px
    }
}
.home-languages {
    border-bottom: 1px solid #0c131b;
    border-top: 1px solid #0c131b
}
.home-languages__subheadline {
    max-width: 570px;
    margin: 0 auto 70px auto;
    text-align: center
}
.home-languages__text {
    margin-bottom: 80px
}
.home-languages__buttons {
    margin-bottom: 30px;
    text-align: center
}
@media (max-width: 580px) {
    .home-languages__buttons {
        margin-bottom: 40px
    }
}
.home-languages__illustration-container {
    max-width: 768px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    display: none
}
@media (min-width: 768px) {
    .home-languages__illustration-container {
        display: block
    }
}
.home-languages__illustration-container svg {
    max-width: 100%;
    height: auto;
    position: relative
}
.home-languages__illustration-overlay {
    background-image: -webkit-linear-gradient(bottom, #192532 10%, rgba(32, 58, 88, 0) 50%);
    background-image: linear-gradient(0deg, #192532 10%, rgba(32, 58, 88, 0) 50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 280px;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    display: none
}
@media (min-width: 768px) {
    .home-languages__illustration-overlay {
        display: block
    }
}
.home-languages__link {
    text-align: center;
    display: block;
    padding: 10px 0
}
.home-languages__link:hover .home-languages__label {
    border-bottom: 1px dotted white;
    color: white
}
.home-languages__link:hover .home-languages__logo {
    -webkit-transform: scale(1.12);
    transform: scale(1.12)
}
.home-languages__link:hover .home-languages__logo--js svg path {
    fill: #F9DD1F
}
.home-languages__link:hover .home-languages__logo--nodejs svg path {
    fill: #8ECA46
}
.home-languages__link:hover .home-languages__logo--ruby svg path {
    fill: #CE3224
}
.home-languages__link:hover .home-languages__logo--php svg path {
    fill: #4E5B95
}
.home-languages__link:hover .home-languages__logo--dotnet svg path {
    fill: #652278
}
.home-languages__link:hover .home-languages__logo--python svg path.svg-logo-python__fill-1 {
    fill: url(#a)
}
.home-languages__link:hover .home-languages__logo--python svg path.svg-logo-python__fill-2 {
    fill: url(#b)
}
.home-languages__link:hover .home-languages__logo--swift svg path.svg-logo-swift__fill-1 {
    fill: #F67B2E
}
.home-languages__link:hover .home-languages__logo--swift svg path.svg-logo-swift__fill-2 {
    fill: #DF6626;
    stroke: #DF6626
}
.home-languages__link:hover .home-languages__logo--objc svg path {
    fill: #A4C828
}
.home-languages__link:hover .home-languages__logo--java svg path.svg-logo-java__fill-1 {
    fill: #EB2926;
    stroke: #EB2926
}
.home-languages__link:hover .home-languages__logo--java svg path.svg-logo-java__fill-2 {
    fill: #0073BD;
    stroke: #0073BD
}
.home-languages__link:hover .home-languages__logo--android svg path {
    fill: #A4C828
}
.home-languages__link:hover .home-languages__logo--js svg path {
    fill: #F9DD1F
}
.home-languages__link:hover .home-languages__logo--curl svg path {
    fill: #468EE5
}
.home-languages__logo {
    -webkit-transition: -webkit-transform .1s ease;
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease, -webkit-transform .1s ease;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center
}
.home-languages__logo svg {
    margin: 0 auto 20px
}
.home-languages__logo path {
    -webkit-transition: 0.25s;
    transition: 0.25s
}
.home-languages__label {
    text-align: center;
    display: inline-block;
    border-bottom: 1px dotted #8091A5;
    color: #8091A5
}
